 <h5>Create a Task</h5>
 <!-- Adding css class for error handler 
 has-error is the class and "detailsfield.invalid && detailsfield.touched" is condition to toggle
 
 	
 -->
    <form #taskForm="ngForm" >
      <div class="form-group" [class.has-error]="detailsfield.invalid && detailsfield.touched">
        <label for="details" class="control-label">Details</label>
        <input #detailsfield="ngModel" type="text" pattern = ".*" class="form-control" id="details" name="details"
         [(ngModel)] ="taskObject.details" required>
         <div *ngIf="detailsfield.invalid && detailsfield.touched" class="alert alert-danger">
         	This field is required.
         </div>
      </div>
  	<!--  adding select option in angular -->
  	<div class="form-group" [class.has-error]="hasTaskTypeError" >
  	<label class="control-label">Select type of task</label>
  	<select #tasktype class="form-control" name="tasktype"
  		 [(ngModel)] = "taskObject.tasktype"
  		 (blur)="validateTaskType(tasktype.value)"
  		 (change)="validateTaskType(tasktype.value)">
  		<option value="default">Select a tasktype......</option>
  		<option *ngFor="let tasktype of taskTypes">
  			{{tasktype}}
  		</option>
  		
  	
  	</select>
  	<div *ngIf="hasTaskTypeError" class="alert alert-danger">
         	Please select task type.
         </div>
  	</div>
      <button type="submit" class="btn btn-success">Submit</button>
 
    </form>
